@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "PoppinsLight";
  src: url("/public/fonts/Poppins-Light.ttf");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("/public/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "PoppinsRegular";
  src: url("/public/fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("/public/fonts/Poppins-SemiBold.ttf");
}

.m_71ea3ab1 {
  position: absolute !important;
  background-color: rgba(122, 119, 119, 0.8) !important;
  bottom: 100px !important;
  width: 100px !important;
  left: 90% !important;
  /* justify-content: flex-end !important; */
  padding: 12px;
  border-radius: 6px;
}

@media (max-width: 768px) {
  .m_71ea3ab1 {
    left: 15px !important;
    bottom: 20px !important;
  }
}

.text1 {
  font-size: clamp(1rem, 0.895rem + 0.6723vw, 1.5rem) !important;
}
.text2 {
  font-size: clamp(0.8125rem, 0.7841rem + 0.101vw, 0.875rem) !important;
}

.header1 {
  font-size: clamp(1.5rem, 0.5909rem + 3.2323vw, 3.5rem) !important;
}
.header-36 {
  font-size: clamp(1.25rem, 0.7955rem + 1.6162vw, 2.25rem) !important;
}
.header2 {
  font-size: clamp(1.125rem, 1.0462rem + 0.5042vw, 1.5rem) !important;
}

.text14 {
  font-size: clamp(0.875rem, 0.8182rem + 0.202vw, 1rem) !important;
}

.logo-width {
  width: clamp(6.25rem, 5.1996rem + 6.7227vw, 11.25rem) !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* .fadeIn {
  animation: fadeIn 1s ease-in-out;
} */

.slick-dots {
  position: absolute !important;
  right: 200px !important;
  bottom: 30px !important;
  width: 400px !important;
  z-index: 1000 !important;
  background-color: rgba(122, 119, 119, 0.8) !important;
  width: 130px !important;
  border-radius: 6px !important;
  /* padding: 3px !important; */
  padding-bottom: 6px !important;
}

.slick-dots li button::before {
  width: 20px !important;
  height: 20x !important;
  border-radius: 100% !important;
  transition: width 250ms ease !important;
  font-size: 16px !important;
  color: white !important;
}

@media (max-width: 768px) {
  .slick-dots {
    left: 20px !important;
    right: auto !important;
  }
}
